/StructureAPI/StructureCraft-Towny/target/
/StructureAPI/StructureCraft-WorldGuard/target/
/StructureAPI/StructureCraft-Core/target/
/StructureAPI/StructureCraft-HolographicDisplays/target/
/StructureAPI/StructureCraft-Bukkit/target/
/StructureAPI/StructureAPI-Bukkit/target/
/StructureAPI/StructureAPI-Core/target/
/StructureAPI/StructureAPI-HolographicDisplays/target/
/StructureAPI/StructureAPI-Towny/target/
/StructureAPI/StructureAPI-WorldGuard/target/
/StructureAPI/StructureAPI-BlockStore/target/